
@import "tailwindcss";

@theme {
  --color-primary: #128C7E;
  --color-primary-light: #25D366;
  --color-primary-dark: #075E54;
  --color-bg-light: #F0F2F5;
  --color-bg-dark: #0B141A;
  --font-sans: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
